<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677269613899-oh8oq11ipltp8ocomp8v2s0egjgbgnqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677269613899-oh8oq11ipltp8ocomp8v2s0egjgbgnqi</string>
	<key>API_KEY</key>
	<string>AIzaSyDfJj-uGhtBZBWYxIlaWzoDxH_ZSOASVeo</string>
	<key>GCM_SENDER_ID</key>
	<string>677269613899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.polls</string>
	<key>PROJECT_ID</key>
	<string>temp-cse150-rolli-polli</string>
	<key>STORAGE_BUCKET</key>
	<string>temp-cse150-rolli-polli.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677269613899:ios:bd2cf43e8ae9acd8560cce</string>
</dict>
</plist>